<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMC I.T Club</title>
    <script src="https://kit.fontawesome.com/fa862b6cef.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <!--NAvbar-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/AMC IT CLUB LOGO Transparent.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-center">
               AMC IT Club
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mission">Mission</a>
              </li>
              <li class="nav-item">
                
              </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Join Us
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/register" >Register</a></li>
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                 </ul>
              </li>
              <a class="nav-link" href="/blog">Blog</a>
            </ul>
          
          </div>
        </div>
      </nav>
      <!--hero-section-->
      <main >
        <section id="hero_section" class="mt-5">
            <div class="container-fluid py-4">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 px-5 order-1">
                       <div class="welcome">
                        Welcome to
                       </div>
                       <h1>AMC IT Club</h1>
                       <span class="p">Think</span>
                       <span class="p">Do</span>
                       <span class="p">Achieve</span>
                       <div class="bton">
                       <a href="/register" class="btn btn-lg btn-outline-dark">Register</a>
                       <a href="/login" class="btn btn-lg btn-dark">Login</a>
                    </div>
                    </div>
                    <div class="col-md-6 px-5 order-md-1">
                        <img src="/images/hero.png" alt="" class="hero-img">
                    </div>
                </div>
            </div>
        </section>
      </main>
      <section id="about">
       
        <div class="container-fluid py-4">
           
            <div class="row align-items-center justify-content-center">
               
                <div class="col-md-6 px-5">
                    <img src="/images/about.png" alt="" srcset="" class="hero-img">
                </div>
                <div class="col-md-6 px-5">
                    <h2 class="abt">About us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ab harum sequi maiores doloremque nemo exercitationem eveniet sed reiciendis, soluta aliquam sunt quo praesentium. Veniam totam tempora placeat necessitatibus libero.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae aperiam nostrum nulla voluptas, aspernatur quaerat voluptatum saepe maiores, soluta rem animi nisi a, at delectus eligendi corrupti ullam earum. Quae.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, debitis. Error sapiente aliquam tempora harum enim voluptates iusto repellat blanditiis deserunt veniam doloremque, ducimus sequi excepturi distinctio sed laborum fuga.
                    </p>
                    <a href="" class="btn btn-lg btn-outline-dark">Readmore</a>
                </div>
            </div>
        </div>
      </section>
      <section id="mission">
        
        <div class="container-fluid my-5 py-4">
            <h2 class="text-center">Our Misson</h2>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4 px-5">
                    <img src="/images/skills.png" alt="" class="img">
                    <h3>Skill</h3>
                    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nihil explicabo dignissimos soluta cupiditate voluptatum illum temporibus ab doloremque veritatis inventore quia tempora quae illo, officia mollitia? Fuga, nostrum sequi.</p>
                </div>
                <div class="col-md-4 px-5" >
                   <img src="/images/build.png" alt="" class="img">
                    <h3>Build</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, quibusdam nemo eum aspernatur debitis nesciunt eligendi fugit dignissimos impedit officia corrupti tempora. Harum, temporibus ullam! Vero quasi ipsa ab officiis.</p>
                </div>
                <div class="col-md-4 px-5">
                    <img src="/images/startup.png" alt="" class="img">
                    <h3>Launch</h3>
                    <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet unde voluptates dolorem corrupti quaerat totam nemo tenetur dignissimos, exercitationem doloremque dicta soluta tempora id accusantium nisi repellat! Delectus, cum laboriosam?</p>
                 
                </div>
            </div>
        </div>
      </section>
      <section id="members">
        <h2 class="text-center">Executive Members</h2>
        <div class="container-fluid my-4">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://scontent.fktm8-1.fna.fbcdn.net/v/t39.30808-6/321706116_567930601332041_7025026263381158403_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=BJK725_pvzgAX9N54so&tn=2ed3UH_YUSMUlD7i&_nc_ht=scontent.fktm8-1.fna&oh=00_AfDl_IsGWPl0caLna_D2sYNTFD5MQoViWm2oVMm5-Fg3Gg&oe=63CE4078" class="d-block w-50" alt="...">
                    <h2 class="text-center py-1">Sangam Sharma</h2>
                    <p class="text-center pb-3">President</p>
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.fktm8-1.fna.fbcdn.net/v/t39.30808-6/320704707_542244234453819_7851429039405730859_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=4vCldSADQiYAX_bqUFb&_nc_ht=scontent.fktm8-1.fna&oh=00_AfAAsIhsITXphN16dH0J6kXDH5jlSYughLfjev-t48BlYg&oe=63CDCCA4" class="d-block w-50" alt="...">
                    <h2 class="text-center py-1">Milan Bhandari</h2>
                    <p class="text-center pb-3">Vice President</p>
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.fktm8-1.fna.fbcdn.net/v/t39.30808-6/321054970_1294707551377108_1484293245964016461_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=_fXogjKw2Q4AX_csvR7&_nc_ht=scontent.fktm8-1.fna&oh=00_AfA-siZ90GrIrljLVZSJdiyAutYoa594V8qrujsU0ABWUQ&oe=63CEBB54" class="d-block w-50" alt="...">
                    <h2 class="text-center py-1">Nabraj Regmi</h2>
                    <p class="text-center pb-3">Secretary</p>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
      </section>
      
        <footer>
            <div class="container-fluid py-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-4 py-4">
                      <ul>
                        <li><a href="" class="foter">Home</a></li>
                        <li><a href="" class="foter">About</a></li>
                        <li><a href="" class="foter">Events</a></li>
                        <li><a href="" class="foter">Register</a></li>
                        <li><a href="" class="foter">Login</a></li>
                        <li><a href="" class="foter">Blog</a></li>
                      </ul>  
                    </div>
                    <div class="col-md-4 py-4">
                        <ul>
                            <li><a href="" class="foter">Facebook</a></li>
                            <li><a href="" class="foter">GitHub</a></li>
                            <li><a href="" class="foter">Youtube</a></li>
                        </ul>  
                    </div>
                    <div class="col-md-4 py-4">
                        <p class="foter">xyz@gmail.com</p>
                        <p class="foter">Ambikeshwari Capmus Ghorahi, Dang</p>
                    </div>
                </div>
                
            </div>
            
        </footer>
        <p class="text-center">&copy; Copyright 2023 | AMC IT Club </p>
        <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
        <!--Modal-->
        <div class="modal" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        // Get the button
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
    </script>
  </body>
</html>